#map-graph {
	width: 60%;
	float: left;
}

#airport-selection-wrapper {
    float: left;
    margin-top: 15px;
    margin-left: 100px;
}

#map-legend-wrapper {
	float: right;
	margin-top: 10px;
}

#map-legend {
	width: 300px;
	height: 48px;
}

#carrier-bar {
	margin-top: 100px;
	width: 39%;
	float: left;
}

.max-width {
	width: 100%;
	float: left;
}

.state {
	fill: #EEE;
	stroke: #FFF;
}

.map-title {
	text-align: center;
	display: block;
	font-size: x-large;
    font-weight: bold;
}

.airport {
	fill: steelblue;
}

.airport:hover {
	fill: red;
}

.route {
	stroke: red;
	fill: None;
}

div.tooltip {	
	position: absolute;
	text-align: center;
	width: 180px;
	height: 64px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}