#map-graph {
	width: 60%;
	float: left;
}

#airport-selection-wrapper {
    float: left;
    margin-top: 30px;
    margin-left: 100px;
}

#map-legend-wrapper {
	float: right;
	margin-top: 10px;
}

#map-legend {
	width: 300px;
	height: 70px;
}

#carrier-bar {
	margin-top: 100px;
	width: 39%;
	float: left;
}

#flight-timeseries {
	width: 70%;
	float: left;
}

#flight-timeseries-description {
	width: 30%;
	float: left;
	margin-top: 175px;
}

#parallel-carrier {
	width: 70%;
	float: left;;
}

#parallel-carrier-description {
	width: 30%;
	float: left;
	margin-top: 175px;
}

.max-width {
	width: 100%;
	float: left;
}

.state {
	fill: #EEE;
	stroke: #FFF;
}

.map-title {
	text-align: center;
	display: block;
	font-size: x-large;
    font-weight: bold;
}

.airport {
	fill: steelblue;
}

.airport:hover {
	fill: darkorange;
}

.route {
	stroke: darkorange;
	fill: None;
}

.paragraph > p {
	text-align: justify;
	text-indent: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 180px;
	height: 64px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
