 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Visualization</title>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://d3js.org/d3-selection.v1.min.js"></script>
	<script src="https://d3js.org/d3-array.v1.min.js"></script>
	<script src="https://d3js.org/d3-geo.v1.min.js"></script>
	<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
	<script src="https://d3js.org/d3-fetch.v1.min.js"></script>
	<script src="https://d3js.org/d3-transition.v1.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://d3js.org/d3-transition.v1.min.js"></script>
  <script src="https://d3js.org/d3-scale.v3.min.js"></script>
  <script src= "{{url_for('static', filename='underscore.js')}}"></script>
  <script src= "{{url_for('static', filename='underscore.nest.js')}}"></script>
  <script src="https://d3js.org/d3-hierarchy.v1.min.js"></script>
  <script src="https://unpkg.com/sunburst-chart@1.7.0/dist/sunburst-chart.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='bar.css')}}">

</head>

<body>
	<h1>Visualization</h1>
	<a href="{{url_for('home')}}">back</a>
  <div class="max-width">
      <div id="map"></div>
      <div id="carrier-bar"></div>
  </div>
	<script src="{{url_for('static', filename='draw.js')}}"></script>
  <div id = "mydiv">
    <div>
      <label for="bchart">Select barchart</label>
      <select name="bchart" id="barchart">
        <option>CARRIER</option>
        <option>AIRPORT</option>
        <option selected="selected">CITY</option>
      </select>
      <button id="button">plot</button>
    </div>
  </div>
  <script src="{{url_for('static', filename='bar_group.js')}}"></script>
  <div id = "sunburst"></div>
  <script src="{{url_for('static', filename='sunburst.js')}}"></script>

</body>

</html>
